@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #f3f4f6;
  --text-color-inverse: #000;
  --bg-color: #18181b;
  --button-color: #18181b;
  --button-color-inverse: #f3f4f6;
  --button-border: rgba(255, 255, 255, 0.5);
  --button-color-hover: rgba(255, 255, 255, 0.07);
  --button-border-hover: rgba(255, 255, 255, 0.7);
  --toggle-icon: url("../assets/moon-stars.svg");
  --toggle-icon-right: calc(100% - 32px);
}

.light {
  --text-color: #000;
  --text-color-inverse: #f3f4f6;
  --bg-color: #f3f4f6;
  --button-color: #f3f4f6;
  --button-color-inverse: #18181b;
  --button-border: rgba(0, 0, 0, 0.5);
  --button-color-hover: rgba(0, 0, 0, 0.07);
  --button-border-hover: rgba(0, 0, 0, 0.7);
  --toggle-icon: url("../assets/sun.svg");
  --toggle-icon-right: calc(100% - 32px);
}

body {
  background: var(--bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.conteiner {
  width: 360px;
  padding: 60px 0;
  border: 1px solid var(--button-border);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile {
  text-align: center;
  padding: 0 24px;
}

.profile img,
.profile h3,
.profile p,
.theme-toggle {
  animation: fadeIn 0.5s ease-out forwards;
}

.profile img {
  width: 90px;
  border-radius: 50%;
  animation-delay: 0.2s;
  opacity: 0;
}

.profile h3 {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  animation-delay: 0.4s;
  opacity: 0;
}

.profile p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
  margin: 0;
  color: var(--text-color);
  animation-delay: 0.4s;
  opacity: 0;
}

.theme-toggle {
  position: relative;
  width: 64px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 24px auto 0;
  animation-delay: 0.6s;
  opacity: 0;
}

.toggle-icon {
  width: 32px;
  height: 32px;
  background: white var(--toggle-icon) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: var(--toggle-icon-right);
  z-index: 1;
  transform: translateY(-50%);
  transition: right 0.5s ease;
  border: 1px solid var(--button-border);
}

.toggle-icon:hover {
  outline: 8px solid var(--button-color-hover);
}

.theme-toggle.active .toggle-icon {
  right: 0;
}

#toggle-track {
  display: block;
  width: 64px;
  height: 24px;
  border: 1px solid var(--button-border);
  background-color: var(--button-color);
  border-radius: 9999px;
  transition: background-color 0.3s;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 24px;
  gap: 16px;
}

.button {
  background-color: var(--button-color);
  border: 1px solid var(--button-border);
  color: var(--text-color);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.button:nth-child(1) {
  animation-delay: 0.8s;
}

.button:nth-child(2) {
  animation-delay: 1s;
}

.button:nth-child(3) {
  animation-delay: 1.2s;
}

.button:nth-child(4) {
  animation-delay: 1.4s;
}

.button:hover {
  background-color: var(--button-color-hover);
  border-color: var(--button-border-hover);
}

.social-media {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-icon {
  position: relative;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  color: var(--text-color-inverse);
}

.social-icon:nth-child(1) {
  animation-delay: 1.6s;
}

.social-icon:nth-child(2) {
  animation-delay: 1.6s;
}

.social-icon:nth-child(3) {
  animation-delay: 1.6s;
}

.social-icon:nth-child(4) {
  animation-delay: 1.6s;
}

.social-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: var(--button-color-hover);
  border-radius: 50%;
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
  z-index: -1;
  transform: translate(-50%, -55%);
}

.social-icon:hover::before {
  width: 50px;
  height: 50px;
}

.social-icon:hover {
  color: var(--text-color);
  transform: scale(1.2);
  transition: transform 0.3s;
}
